<h5 mat-dialog-title>Playlist form</h5>
<form action="">
  <div mat-dialog-content>
    <label for="playlistName" class="form-label">
      Name
    </label>
    <input type="text" id="playlistName" class="form-control" placeholder="Playlist name" required />
  </div>
  <div mat-dialog-actions class="d-flex justify-content-center gap-2">
    <button type="button" class="btn btn-secondary" mat-dialog-close>Cancel</button>
    <button type="submit" class="btn btn-success">Save</button>
  </div>
</form>
