@if (data) {

<div class="join">
  <button class="join-item btn btn-base-300" (click)="prevPage()">
    Prev
  </button>
  @for (item of [].constructor(data.pages) ; track $index) { @if($index + 1 ==
  data.currentPage){
  <button
    class="join-item btn btn-primary btn-active"
    [ngClass]="disablePrevPage"
  >
    {{ $index + 1 }}
  </button>

  } @else {
  <button
    class="join-item btn btn-base-300"
    (click)="changePageEvent($index + 1)"
  >
    {{ $index + 1 }}
  </button>
  } }
  <button
    class="join-item btn btn-base-300"
    [ngClass]="disableNextPage"
    (click)="nextPage()"
  >
    Next
  </button>
</div>
}
