<h1 class="text-3xl font-bold">Song lyrics</h1>

<div class="flex justify-end mb-3">
  <button type="button" class="btn btn-success" [routerLink]="['/songs/form']">
    <i class="bi bi-plus-lg"></i>
    New
  </button>
</div>

<div class="overflow-x-auto">
  <table class="table table-lg table-zebra">
    <thead class="bg-base-100 text-primary">
      <tr>
        <th>#</th>
        <th>Title</th>
        <th class="w-64">Genre</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (item of songs; track $index) {
      <tr class="">
        <th class="w-2">{{ $index + 1 }}</th>
        <td class="w-auto">
          <div class="flex justify-start gap-3">
            @if(item.isFavorite) {
            <button
              type="button"
              class="btn btn-sm btn-default"
              (click)="setFavorite(item.id!, false)"
            >
              @if(loadingFavorite == item.id){
              <span class="loading loading-dots loading-sm text-primary"></span>
              }@else{
              <i class="bi bi-heart-fill text-success"></i>
              }
            </button>
            } @else{
            <button
              type="button"
              class="btn btn-sm btn-default"
              (click)="setFavorite(item.id!, true)"
            >
              @if(loadingFavorite == item.id){
              <span class="loading loading-dots loading-sm text-primary"></span>
              }@else{
              <i class="bi bi-heart"></i>
              }
            </button>
            }
            <span>{{ item.title }}</span>
          </div>
        </td>
        <td class="">
          <div class="flex justify-start gap-3">
            @if(item.genre){
            <span class="badge badge-primary badge-outline w-auto">
              {{ item.genre.name }}
            </span>
            }
          </div>
        </td>

        <td class="w-0">
          <div class="flex justify-stretch gap-3">
            <button
              type="button"
              class="btn btn-sm btn-info"
              [routerLink]="['view', item.id]"
            >
              <span class="bi bi-eye-fill"></span>
            </button>
            <button
              type="button"
              class="btn btn-sm btn-info"
              [routerLink]="['/songs/form']"
              [queryParams]="{ id: item.id }"
            >
              <i class="bi bi-pencil-fill"></i>
            </button>
            <button
              type="button"
              class="btn btn-sm btn-info text-error"
              (click)="confirmDelete(item)"
            >
              <i class="bi bi-trash3-fill"></i>
            </button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>

<app-pagination
  class="flex justify-center mt-5"
  [data]="pagination"
  (changePage)="changePageEvent($event)"
></app-pagination>
