<!-- <header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3"
    data-bs-theme="dark"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Lyrics Library</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          @for (item of menuList; track $index) {
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-withe" [routerLink]="[item.path]">{{
              item.name
            }}</a>
          </li>
          }
        </ul>
      </div>
    </div>
  </nav>
</header> -->

<header>
  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"
            />
          </svg>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
        >
          @for (item of menuList; track $index) {
          <li
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a [routerLink]="[item.path]">{{ item.name }}</a>
          </li>
          }
        </ul>
      </div>
      <a class="btn btn-ghost text-xl">Lyrics Library</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1 gap-2">
        @for (item of menuList; track $index) {
        <li
          [routerLinkActive]="['link-active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a [routerLink]="[item.path]">{{ item.name }}</a>
        </li>
        }
      </ul>
    </div>
    <div class="navbar-end">
      <a class="btn btn-outline btn-primary btn-sm">Login</a>
    </div>
  </div>
</header>
