<h1>Genres</h1>

<div class="d-flex justify-content-end mb-3">
  <button type="button" class="btn btn-success" (click)="newGenre()">
    <i class="bi bi-plus-lg"></i>
    New
  </button>
</div>

<table class="table table-hover table-bordered">
  <thead class="">
    <tr>
      <th scope="col-1">#</th>
      <th scope="col-9">Title</th>
      <th scope="col-2">Actions</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    @for (item of [1,2,3,4,5,6,7,8,9,10]; track $index) {
    <tr>
      <th class="col-1" scope="row">{{ item }}</th>
      <td class="col-9">
        <div class="d-flex justify-content-between">
          <span>Genre {{ item }}</span>
        </div>
      </td>
      <td class="col-2">
        <div class="d-inline-flex gap-2">
          <button type="button" class="btn btn-sm btn-success">
            <i class="bi bi-eye-fill"></i>
          </button>
          <button type="button" class="btn btn-sm btn-success" (click)="editGenre(item)">
            <i class="bi bi-pencil-fill"></i>
          </button>
          <button type="button" class="btn btn-sm btn-danger" (click)="confirmDelete()">
            <i class="bi bi-trash3-fill"></i>
          </button>
        </div>
      </td>
    </tr>
    }
  </tbody>
</table>

<app-pagination
  [data]="pagination"
  (changePage)="changePageEvent($event)"
></app-pagination>
