<div class="card w-full p-10 bg-base-100 shadow-xl">
  <h3 class="font-bold text-xl mb-5">Song form</h3>
  <form action="">
    <label class="form-control">
      <div class="label">
        <span class="label-text">Title</span>
      </div>
      <input
        type="text"
        placeholder="Song"
        class="input input-bordered"
      />
    </label>
    <label class="form-control">
      <div class="label">
        <span class="label-text">Pick genre</span>
      </div>
      <select class="select select-bordered">
        <option disabled selected>Pick one</option>
        @for (item of [1,2,3,4,5]; track $index) {
        <option value="{{ item }}">Genre {{ item }}</option>
        }
      </select>
    </label>
    <label class="form-control">
      <div class="label">
        <span class="label-text">Lyrics</span>
      </div>
      <textarea
        class="textarea textarea-bordered textarea-lg form-control h-64"
        placeholder="Lyrics"
      ></textarea>
    </label>
    <div class="modal-action">
      <button type="button" class="btn btn-info text-error" mat-dialog-close>
        Cancel
      </button>
      <button type="submit" class="btn btn-info text-primary">Save</button>
    </div>
  </form>
</div>
